{
  "semi": false,
  "singleQuote": true,
  "svelteSortOrder": "options-styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": false,
  "svelteAllowShorthand": true,
  "printWidth": 100,
  "useTabs": true,
  "svelteIndentScriptAndStyle": false
}