body {
  font-family: "Poppins", sans-serif;
  background-color: #f7fafc;
}
button {
  font-family: "Poppins", sans-serif;
}
.underline {
background-image: linear-gradient(
  to right,
  rgb(250, 112, 154) 0%,
  rgb(254, 225, 64) 100%
);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  text-decoration: none;
}
  .primary {
    background: linear-gradient(87deg, #fb6340, #da1c5f) !important;
    border-color: #fb6340;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    color:white;
}
.secondary{
  box-shadow: 10px 10px 30px -15px #1c45da;
  background: linear-gradient(87deg,#40c8fb,#1c45da);
  border-color: #69beda;
}
.muted{
  background: #e1e8f0;
}
.text-primary{
   background: linear-gradient(87deg, #fb6340, #da1c5f);
   -webkit-background-clip: text;	
	-webkit-text-fill-color: transparent;
}

.text-secondary{
   background: linear-gradient(87deg,#40c8fb,#1c45da);
   -webkit-background-clip: text;	
	-webkit-text-fill-color: transparent;
}

.mask{
  background: #f5f5f5;
  opacity: 0.5;
  pointer-events: none;
}
@media only screen and (min-width: 1000px) {
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: white;
  }

  ::-webkit-scrollbar {
    height: 6px;
    width: 8px;
    background: white;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #e90d8b;
  }
}