body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f7fafc;
}
button {
  font-family: 'Montserrat', sans-serif;
  outline: none !important;
}
button:disabled {
  background: #ccc !important;
  transition: all 0.2s ease-in;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
.toast {
  animation: fadein 0.5s;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: #f3555a;
  color: #fff;
  position: fixed;
  cursor: pointer;
  top: 2%;
  right: 2%;
  padding: 0.8rem 2rem;
  z-index: 10;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.info {
  background: rgb(91, 192, 222);
  color: #fff;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}
.success {
  background: #22ce6c;
  color: #fff;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}
.warning {
  background: #ffb900;
  color: #000;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.err {
  background: #f3555a;
  color: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.underline {
  background-image: linear-gradient(87deg, #38eaff, #b05af1);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  text-decoration: none;
}
.primary {
  background: linear-gradient(87deg, #fb6340, #da1c5f) !important;
  border-color: #fb6340;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: white;
}
.secondary {
  box-shadow: 10px 10px 30px -15px #1c45da;
  background: linear-gradient(87deg, #40c8fb, #1c45da);
  border-color: #69beda;
}
.muted {
  background: #e1e8f0;
}
.text-primary {
  background: linear-gradient(87deg, #fb6340, #da1c5f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-secondary {
  background: linear-gradient(87deg, #40c8fb, #1c45da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mask {
  background: #f5f5f5;
  opacity: 0.5;
  pointer-events: none;
}
@media only screen and (min-width: 1000px) {
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: white;
  }

  ::-webkit-scrollbar {
    height: 6px;
    width: 8px;
    background: white;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #e90d8b;
  }
}
