/* karla-200 - latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 200;
    src: url('../static/fonts/karla-v23-latin-200.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../static/fonts/karla-v23-latin-200.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../static/fonts/karla-v23-latin-200.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../static/fonts/karla-v23-latin-200.woff') format('woff'),
        /* Modern Browsers */
        url('../static/fonts/karla-v23-latin-200.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../static/fonts/karla-v23-latin-200.svg#Karla') format('svg');
    /* Legacy iOS */
}

/* karla-300 - latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 300;
    src: url('../static/fonts/karla-v23-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../static/fonts/karla-v23-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../static/fonts/karla-v23-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../static/fonts/karla-v23-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('../static/fonts/karla-v23-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../static/fonts/karla-v23-latin-300.svg#Karla') format('svg');
    /* Legacy iOS */
}

/* karla-regular - latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('../static/fonts/karla-v23-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../static/fonts/karla-v23-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../static/fonts/karla-v23-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../static/fonts/karla-v23-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../static/fonts/karla-v23-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../static/fonts/karla-v23-latin-regular.svg#Karla') format('svg');
    /* Legacy iOS */
}

/* karla-500 - latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    src: url('../static/fonts/karla-v23-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../static/fonts/karla-v23-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../static/fonts/karla-v23-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../static/fonts/karla-v23-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../static/fonts/karla-v23-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../static/fonts/karla-v23-latin-500.svg#Karla') format('svg');
    /* Legacy iOS */
}

/* karla-600 - latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 600;
    src: url('../static/fonts/karla-v23-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../static/fonts/karla-v23-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../static/fonts/karla-v23-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../static/fonts/karla-v23-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../static/fonts/karla-v23-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../static/fonts/karla-v23-latin-600.svg#Karla') format('svg');
    /* Legacy iOS */
}

/* karla-700 - latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: url('../static/fonts/karla-v23-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../static/fonts/karla-v23-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../static/fonts/karla-v23-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../static/fonts/karla-v23-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../static/fonts/karla-v23-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../static/fonts/karla-v23-latin-700.svg#Karla') format('svg');
    /* Legacy iOS */
}

/* karla-800 - latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    src: url('../static/fonts/karla-v23-latin-800.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../static/fonts/karla-v23-latin-800.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../static/fonts/karla-v23-latin-800.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../static/fonts/karla-v23-latin-800.woff') format('woff'),
        /* Modern Browsers */
        url('../static/fonts/karla-v23-latin-800.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../static/fonts/karla-v23-latin-800.svg#Karla') format('svg');
    /* Legacy iOS */
}